
{% extends "badjokes/base.html" %}

{% block content %}
    <h1>Badyokes...</h1><br>

    <p>It's a play on words, of course, meaning "bad jokes."</p>

    <p>Bad jokes are unique because, while most jokes are
    written and told for the listeners, bad jokes are designed more to entertain the teller. If the listeners groan and
    then slightly question the time of their life spent hearing the joke then, congratulations, you have told a bad joke.</p>

    <p> This is a site dedicated to those wonderful bad jokes. Create a profile, upload a profile pic and start to post
    your own bad jokes. I promise you'll enjoy it and, well, the rest of us will mildly enjoy reading them.</p>
{% endblock content %}
